<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<div class="container">

        <!-- LOCAL INFORMATION -->
        <div class="mx-auto">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>

